*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}


.div1{
    height: 100vh;
    width: 50%;
    background-color: #ff0000;
}
.div2{
    height: 100vh;
    width: 50%;
    background-color: #96d81b;
}
.div3{
    height: 100vh;
    width: 50%;
    background-color: #04ff00;
}
.div4{
    height: 100vh;
    width: 50%;
    background-color: #00fff7;
}
.div5{
    height: 100vh;
    width: 50%;
    background-color: #ff00f7;
}
