*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contenedor{
    width: 75vw;
    min-height: 75vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#cuadrados{
    gap: 100px;
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    align-items: center;
    flex-wrap: wrap;
}

.cuadrado{
    width: 100px;
    height: 100px;
    background-color: orange;
}

#circulos{
    gap: 100px;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    align-items: center;
}

.circulo{
    width: 22.5%;
    aspect-ratio: 1/1;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuadradoInterno{
    width: 30%;
    height: 30%;
    background-color: orange;
}