* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Aonic';
}

.header-text {
    color: #fff;
    font-size: 25px;
}

.fenix {
    filter: drop-shadow(5px 5px 10px #1b68ab);
    width: 35%;
    position: absolute;
    left: 60%;
    bottom: 15%;
}

header {
    background-color: #00eeff;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 50px;
    height: 75vh;
    width: 100vw;
}

nav {
    top: 0;
    z-index: 1;
    background-color: #00eeff;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100vw;
    height: 50px;
    padding-right: 10%;
    position: sticky;
    /* border: solid black; */
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav li:hover {
    background-color: #1ba6d8;
    border-radius: 10px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

section {
    padding: 50px;
}

section p {
    font-size: 20px;
    color: #000;
    font-family: 'papyrus', sans-serif;
    line-height: 5vh;

}

section p img {
    position: relative;
    z-index: 5;
    width: 45%;
    float: left;
    /* margin-right: 10px */;
    filter: drop-shadow(5px 5px 10px #1b68ab);
}

.imagePeste{
    position: relative;
    z-index: 0;
    width: 45%;
    float: right;
    filter: drop-shadow(5px 5px 10px #1b68ab);
}

.button{
    position: sticky;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: red;
}